.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-test {
  padding: 2rem 1rem;
  text-align: center;
  border: 1px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 1px 2px 2px rgb(160 139 139 / 20%),
    2px 4px 4px rgb(160 139 139 / 20%), 4px 8px 8px rgb(160 139 139 / 20%),
    8px 16px 16px rgb(160 139 139 / 20%), 16px 32px 32px rgb(160 139 139 / 20%);
  min-width: 350px;
}
@media (min-width: 420px) {
  .form-test {
    padding: 4rem 2rem;
    min-width: 375px;
  }
}
@media (max-width: 350px) {
  .form-test {
    box-shadow: none;
  }
}

.form-div {
  border: 1px solid whitesmoke;
  border-radius: 7px;
  /* max-width: 400px; */
  padding: 2rem;
  /* margin-left: 100px; */
  text-align: center;
  box-shadow: 1px 2px 2px rgba(160, 139, 139, 0.2),
    2px 4px 4px rgba(160, 139, 139, 0.2), 4px 8px 8px rgba(160, 139, 139, 0.2),
    8px 16px 16px rgba(160, 139, 139, 0.2),
    16px 32px 32px rgba(160, 139, 139, 0.2);
}

.form-wrapper {
  /* height: 100vh !important; */

  /* display: grid;
  place-items: center; */
  /* box-shadow: 1px 2px 2px rgba(160, 139, 139, 0.2),
    2px 4px 4px rgba(160, 139, 139, 0.2), 4px 8px 8px rgba(160, 139, 139, 0.2),
    8px 16px 16px rgba(160, 139, 139, 0.2),
    16px 32px 32px rgba(160, 139, 139, 0.2); */
  /* padding: 1rem; */
  display: grid;
  place-content: center;
  height: 100vh;
  z-index: 2;
  background-color: aliceblue;
  /* max-width: 450px; */
}
